@{
    ViewData["Title"] = "About";
}


<section class="v1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1">ULCA </h1>
            <p class="lead">It's about <strong>Us</strong> and <strong>You</strong>. </p>
        </div>
    </div>

</section>

<div class="wrapper row2">
    <div id="container" class="container">

        <div id="about-us" class="text-center container">

            <section id="about-intro" class="clear">
                <div class="text-center"><img class="city" src="images/city.jpg" alt=""></div>
                <div class="text-center">
                    <h2>Our personal channels</h2>
                    <p>Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <h2>Your dedicated services</h2>
                    <ul class="list-unstyled">
                        <li>ULCA One.</li>
                        <li>ULCA films.</li>
                        <li>UlCA Series.</li>
                        <li>ULCA Raw.</li>
                        <li>My ULCA.</li>

                    </ul>
                </div>
            </section>

            <section class="text-center justify-content-center" id="team">
                <h2>Our Founders</h2>
                <ul class="list-unstyled text-center d-flex flex-row">
                    <div class="row">


                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="#" target="_blank">

                                    <img src="~/images/carl.png" alt="Carl" style="width: 100%">

                                    <div class="caption">
                                        <p> Vice President.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="#" target="_blank">
                                    <img src="~/images/ulrich.jpg" alt="Ulrich" style="width:100%">
                                    <div class="caption">
                                        <p>President.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </ul>
            </section>

        </div>

    </div>
</div>