@{
    ViewData["Title"] = "Home Page";
}

<section class="v1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1">ULCA </h1>
            <p class="lead">Your <strong>broadcaster</strong> that delivers complete tv solutions and personal content.</p>
        </div>
    </div>

</section>
<div class="wrapper">
    <blockquote class="blockquote text-center">
        <p class="mb-0">ULCA; there is no place like home.</p>
        <footer class="blockquote-footer">Martin Weij <cite title="Source Title"> NY times</cite></footer>
    </blockquote>
</div>
