@model IEnumerable<WebAppCa.ViewModels.MyChannelViewModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<body>

    <section class="v1">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-1">ULCA </h1>
                <p class="lead">It's about <strong>your</strong> <strong>channels</strong>. </p>
            </div>
        </div>

    </section>


    <div class="container">
        <p>
            My channels 
        </p>
        <table class="table">
            <thead>
      
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
              
                    @foreach (var channel in item.MyChannels)
                    {
                        @channel.Name;
                        <br />
                        @channel.Description
                        <br />
                        <br />

                    }

                    @*</tr>*@
                }

            </tbody>


        </table>
    </div>
</body>
</html>
