@{
    ViewData["Title"] = "Index";
}

<section class="v1">
    <div class="jumbotron jumbotron-fluid">
        <marquee>
            <div class="container">
                <h1 class="display-1">ULCA </h1>
                <p class="lead">Your <strong>Channels</strong> bring people together.</p>
            </div>
        </marquee>
    </div>

</section>


<div>
    <div class="container">
        <h1>My favorites</h1>
        <div class="row">

            <div class="text-center col-sm-4 bg-success">
                <p>
                    <h2> My favorite channel</h2>
                </p>
                <ul class="list-unstyled">
                    <li > <a href="@Url.Action("GetChannelList", "Account")" class="btn btn-danger">Go to my channels</a> </li>
                  

                </ul>
            </div>
            <div class="text-center col-sm-4 bg-warning">
                <p>
                    <h2> My favorite Programmes </h2>
                </p>
                <ul class="list-unstyled">
                    <li> <a href="@Url.Action("GetList", "Account")" class="btn btn-danger">Go to my schedules</a> </li>
                 

                </ul>
            </div>

            <div class="text-center col-sm-4 bg-success">
                <p>
                    <h2> On Today </h2>
                </p>
                <ul class="list-unstyled">
                    <li> programme one </li>
                    <li> Programme Two </li>
                    <li> Programme three</li>
                    <li>Manage Schedules </li>

                </ul>
            </div>
        </div>
    </div>




</div>


@* for later use *@
@*<a asp-controller="Account" asp-action="Register">Register</a>*@