@{
    ViewData["Title"] = "Index";
}

<section class="v1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1">ULCA </h1>
            <p class="lead">Your <strong>Channels</strong> bring people together.</p>
        </div>
    </div>

</section>




<div>
    <div class="container"> <h1>My favorites</h1>
        <div class="row">
            
            <div class="col-sm-6 bg-success">
                <p>
                    <h2> My favorite channel</h2>
                </p>
                <ul>
                    <li>Channel one </li>
                    <li>Channel Two </li>
                    <li>Channel three</li>
                    <li>Manage Channels</li>

                </ul>
            </div>
            <div class="col-sm-6 bg-warning">
                <p>
                    <h2> My favorite Programmes </h2>
                </p>
                <ul>
                    <li>Programme one </li>
                    <li> Programme Two </li>
                    <li> Programme three</li>
                    <li>Manage Schedules </li>

                </ul>
            </div>
        </div>
    </div>

   


</div>


@* for later use *@
<a asp-controller="Account" asp-action="Register">Register</a>