@{
    ViewData["Title"] = "Index";
}

<section class="v1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1">ULCA </h1>
            <p class="lead">Your <strong>Channels</strong> bring people together.</p>
        </div>
    </div>

</section>



<a asp-controller="Account" asp-action="Register">Register</a>