@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebAppCa.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<section class="v1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-1">ULCA </h1>
            <p class="lead">It's about <strong>Us</strong> and <strong>You</strong>. </p>
        </div>
    </div>

</section>

<form asp-controller="Account" asp-action="Register" method="post">
    UserName : <input type="text" asp-for="UserName" /> <br />
    Email : <input type="email" asp-for="Email" /> <br />
    Password : <input type="password" asp-for="Password" /> <br />
    Confirm Password : <input type="password" asp-for="ConfirmPassword" /> <br />
    <input type="submit" value="Register" />
</form>