@model WebAppCa.ViewModels.MyChannelViewModel

<h4>MyChannelViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TestCreate">
            <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="ChannelId" class="control-label"></label>
            <select asp-for="ChannelId" class="form-control" asp-items="ViewBag.ChannelId"></select>
            </div>

            @*<div class="form-group">
                <label asp-for="ChannelId" class="control-label"></label>
                <input asp-for="ChannelId" class="form-control"/>
                <span asp-validation-for="ChannelId" class="text-danger"></span>
            </div>*@
           
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control"/>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
          
            @*<div class="form-group">
                <label asp-for="ChannelName" class="control-label"></label>
                <input asp-for="ChannelName" class="form-control"/>
                <span asp-validation-for="ChannelName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

