
<div class="container">

    <hr />
    <footer id="myFooter" class="footer">
        <div class="footcontainer ">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Contact us</h5>
                    <ul class="list-unstyled mx-auto justify-content-center">
                        <li><a href="#">Frejgatan 6a</a></li>
                        <li><a href="#">736 30 Kungsör</a></li>
                        <li><a href="#">Sweden</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <h5>Logo</h5>
                    <div class="justify-content-center logo">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <img src="~/images/Emblem.png" class="logo" alt="ULCA logo">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>



            <div class=" cop col-lg-12">
                <ul class="list-unstyled d-flex justify-content-around">
                    <li>© 2018 Copyright </li>
                    <li> Provided By </li>
                    <li> ULCA Web Services</li>
                </ul>
            </div>
        </div>


    </footer>
</div>
<link href="~/css/main.css" rel="stylesheet" />